<app-header titulo="Card"></app-header>

<ion-content>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon name="pin" slot="start" color="light"></ion-icon>
      <ion-label> Marcador </ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam totam
      nihil, libero quia sint voluptatum magni enim maxime. Ducimus consectetur
      natus sint reiciendis excepturi odit, repellat minima a totam
      reprehenderit.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
      exercitationem sequi, sunt doloribus accusamus, nulla obcaecati corrupti
      in rem voluptatem sapiente quaerat reprehenderit placeat est laborum.
      Corporis natus pariatur magni.
    </ion-card-content>
  </ion-card>
</ion-content>
