.slide1{
    height: 100%;
    background-color: red;
}
.slide2{
    height: 100%;
    background-color: green;
}
.slide3{
    height: 100%;
    background-color: blue;
}

ion-slides{
    height: 100%;
}